<div class="bg-dark text-white" id="footer">
  <h3 class="text-center text-white">Acerca de nosotros</h3>
  <div class="row justify-content-around">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="row">
            <div class="col-12">
              <h5 class="text-center">¿Quienes somos?</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="text-center">¿Quienes somos?</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <h6>Proudly Created by Chang, Quevedo a Rojas.</h6>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <h6>Lincense:
            <a href="https://opensource.org/licenses/MIT" target="black">MIT</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>