<div class="text-white bg-dark" id="footer">
    <div class="row justify-content-around">
      <div class="col-lg-10">
        <div class="row text-center">
          <div class="col-lg-12">
            <h6><strong>Proudly Created by Chang, Quevedo a Rojas.</strong></h6>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h6>Lincense:
              <a href="https://opensource.org/licenses/MIT" target="black">MIT</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
</div>