<ngb-accordion [closeOthers]="true">
  <li *ngFor="let orden of ordenes">
    <ngb-panel type="dark" >
      <ng-template ngbPanelTitle>
        <div class="text-dark">
          <h4><b>Orden #: </b>{{orden.numeroOrden}}</h4>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-md-6">
            <p><b>Cliente: </b>{{orden.cliente}}</p>
            <p><b>Cedula: </b>{{orden.cedula}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Marca: </b>{{orden.marca}}</p>
            <p><b>Modelo: </b>{{orden.modelo}}</p>
            <p><b>Año: </b>{{orden.anio}}</p>
            <p><b>Placa: </b>{{orden.placa}}</p>
            <p><b>Serial: </b>{{orden.serial}}</p>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-6">
            <p><b>Estado: </b>{{orden.estado}}</p>
            <p><b>Mecánico: </b>{{orden.mecanico}}</p>
            <p><b>Fecha de ingreso: </b>{{orden.fecha}}</p>
          </div>
          <div class="col-md-6 align-self-center">
            <button type="button" class="btn btn-dark" placement="right" ngbTooltip="Presione para cerrar la orden">Cerrar orden</button>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-6">
            <p><b>Accesorios: </b>{{orden.accesorios}}</p>          
          </div>
          <div class="col-md-6">
            <p><b>Repuestos: </b>{{orden.repuestos}}</p>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-12">
            <p><b>Razón de visita: </b><i>{{orden.razon}}</i></p>
            <p><b>Diagnóstico: </b><i>{{orden.diagnostico}}</i></p>
            <p><b>Procedimiento: </b><i>{{orden.procedimiento}}</i></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 align-self-center">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src={{orden.img1}} width="400"  height="300" alt="Random first slide" align="middle">                
                </ng-template>
                <ng-template ngbSlide>
                  <img src={{orden.img2}} width="400" height="300" alt="Random second slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img src={{orden.img3}} width="400" height="300" alt="Random third slide">
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </li>
</ngb-accordion>

