<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center text-white mt-4">Recepción de Vehículo</h2>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-sm-12 col-lg-8 fondoBlanco">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <h5>Escanear codigo QR</h5>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
            <button type="button" class="btn btn-primary">Cámara</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <h5>Órden de Reparación: Recepción del vehículo</h5>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-lg-6 col-sm-6">
              <label for="front">Detalles Parte Delantera: </label>
      <textarea class="form-control" id="front" rows="2"></textarea>
          </div>
          <div class="col-lg-6 col-sm-6">
              <label for="front">Detalles Parte Trasera: </label>
      <textarea class="form-control" id="back" rows="2"></textarea>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-6 col-sm-6">
              <label for="front">Detalles Lat. Izquierdo: </label>
              <textarea class="form-control" id="left" rows="2"></textarea>
          </div>
          <div class="col-lg-6 col-sm-6">
              <label for="front">Detalles Lat. Derecho: </label>
      <textarea class="form-control" id="right" rows="2"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
              <div class="custom-file" id="fotoDetalles">
                  <input type="file" class="custom-file-input" id="detalle">
                  <label class="custom-file-label" for="detalle">Añadir foto</label>
                </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</section>
<br>
<br>
<br>
<br>