<section id="home">
  <div class="container">
    <div class="valign-wrapper">
      <div class="box-titulo">
        <h2>Gerencia</h2>
        <p>Pedro Perez</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center">Lista de Citas</h2>
      </div>
    </div>
    <div class="row">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Dueño</th>
            <th>Vehiculo</th>
            <th>Fecha Propuesta</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Jose</td>
            <td>Optra</td>
            <td>22/01/18</td>
            <td>
              <a href="" class="waves-effect waves-light btn black white-text">Aceptar</a>
            </td>
          </tr>
          <tr>
            <td>Jose</td>
            <td>Optra</td>
            <td>22/01/18</td>
            <td>
              <a href="" class="waves-effect waves-light btn black white-text">Aceptar</a>
            </td>
          </tr>
          <tr>
            <td>Jose</td>
            <td>Optra</td>
            <td>22/01/18</td>
            <td>
              <a href="" class="waves-effect waves-light btn black white-text">Aceptar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center"></h2>
      </div>
    </div>
    <div class="row">
        <div class="col s12"></div>
      </div>
  </div>
</section>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
