<section id="home">
  <div class="container">
    <div class="valign-wrapper">
      <div class="box-titulo">
        <h2>Orden de Reparacion</h2>
        <p>Modificar Orden de Reparación</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center">Orden de Reparación</h2>
      </div> 
    </div>
    <div class="row">
      <div class="col s12 m10 offset-m1 card-panel">
        <div class="row"></div>
        <form action="" class="row">
          <div class="col s12 m8 offset-m2">
            <div class="row">
              <div class="col m6 s12 input-field">
                <input placeholder="" id="first_name" type="text" class="validate">
                <label for="first_name">Diagnostico</label>
              </div>
              <div class="col m6 s12 input-field">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Si</option>
                  <option value="2">No</option>
                </select>
                <label>Reparacion Finalizada</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 input-field">
                <select multiple id="select-multiple">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                  <label>Repuestos</label>
              </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Procedimiento aplicado</label>
                </div>
              </div>
            <div class="row">
              <div class="col s12">
                <button class="btn material-btn black white-text">Actualizar Orden</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> 
</section>