<section id="home">
  <div class="container">
    <div class="valign-wrapper">
      <div class="box-titulo">
        <h2>Registrarse</h2>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container center">
    <div class="row card-panel">
      <div class="col s12">
        <div class="row">
          <div class="col s12">
            <h4>Registro</h4>
          </div>
        </div>
        <div class="row">
          <div class="col m8 offset-m2 s12">
            <form action="" class="row">
              <div class="row">
                <div class="col s12 m6 input-field">
                  <input placeholder="Jose" id="nombre" type="text" class="validate">
                  <label for="nombre">Serial del Motor</label>
                </div>
                <div class="col s12 m6 input-field">
                  <input placeholder="1111" id="cedula" type="text" class="validate">
                  <label for="cedula">Modelo</label>
                </div>
              </div>
              <div class="row">
                  <div class="col s12 m6 input-field">
                    <input placeholder="Jose" id="nombre" type="text" class="validate">
                    <label for="nombre">Año</label>
                  </div>
                  <div class="col s12 m6 input-field">
                    <input placeholder="1111" id="cedula" type="text" class="validate">
                    <label for="cedula">Placa</label>
                  </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="file-field input-field">
                    <div class="waves-effect waves-light btn black white-text">
                      <span>Foto</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <button class="waves-effect waves-light btn black white-text">Registrarse</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>