<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center text-white pt-5">Iniciar Sesión</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-6 fondoBlanco">
        <form #loginForm="ngForm" (submit)="login()">
          <div class="row">
            <label for="username">Usuario</label>
            <input type="email" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="Usuario">
          </div>
          <div class="row pt-3">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Tu clave">
          </div>
          <div class="row pt-3">
            <div class="col-sm-12 text-center">
                <!--<a class="btn btn-primary text-white" href="/dashboard" (click)="login()">Ingresar</a>-->
             <button type="submit" class="btn btn-lg btn-primary mt-3">Ingresar</button>
              <p class="text-center mt-3" routerLink="/client/register">No estoy registrado.</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>