section#welcome {
  padding: 2rem;
}
.fondoBlanco{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 1%;
}

.invertirColor{
  background-color: #36393E;
  color: whitesmoke;
  padding: 20px;
  border-radius: 1%;
}
