
  <div class="container">
    <div class="row pt-5">
      <div class="col-sm-12 mt-3">
        <h2 class="text-center text-white">Bienvenido {{user.firstName}}</h2>
      </div>
    </div>
  </div>

<h3 class="text-center text-white">Ordenes Reparación</h3>

<div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-10 fondoBlanco">
        <ngb-tabset type="pills" justify="justified">
          <ngb-tab title="En Espera">
            <ng-template ngbTabContent>
              <table class="table table-responsive-md">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Admitir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cita of colaEspera">
                    <td>{{cita.brand}}</td>
                    <td>{{cita.model}}</td>
                    <td #licensePlate>{{cita.licensePlate}}</td>
                    <td>
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                X
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" (click)="openFinOrden(modalFin, cita)">Admitir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
  
  
  
  
  
          <ngb-tab title="En Curso">
  
            <ng-template ngbTabContent>
               
              <table class="table table-responsive-md">
                <thead class="thead-dark">
                  <tr>
                    <th>Mecánico Asignado</th>
                    <th>Vehículo</th>
                    <th>Placa</th>
                    <th>Detalles</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let orden of ordenesActivas">
                    <td>{{orden.mechanicName}}</td>
                    <td>{{orden.carName}}</td>
                    <td>{{orden.carLicensePlate}}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-primary" (click)="openDetOrden(modalDet, orden)">Ver detalles</button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </ng-template>
  
  
  
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 class="text-center text-white">Modificar Cliente</h3>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-lg-10 fondoBlanco">
      <div class="row">
        <div class="col-lg-12">
          <h4>Cedula de identidad:</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <input type="text" class="form-control" id="nationalIDSearch" [(ngModel)]="nationalIDSearch" name="nationalIDSearch" placeholder="11222333">
        </div>
        <div class="col-lg-2 text-right">
          <button (click)="buscarCedula()" class="btn btn-primary">Buscar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt-3">
          <h4>Datos cliente:</h4>
        </div>
      </div>
      <form #formUpdate="ngForm" (submit)="modificarDatosUsuario()">
        <div class="row">
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" placeholder=" ">
          </div>
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="lastName">Apellidos</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" name="lastName"
              placeholder=" ">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="nationalID">Cédula</label>
            <input type="text" class="form-control" id="nationalID" [(ngModel)]="nationalID" [ngModelOptions]="{standalone: true}" name="nationalID"
              placeholder=" ">
          </div>
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" name="email"
              placeholder=" ">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="addressLine1">Dirección 1</label>
            <input type="text" class="form-control" id="addressLine1" [(ngModel)]="addressLine1" [ngModelOptions]="{standalone: true}"
              name="addressLine1" placeholder=" ">
          </div>
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="addressLine2">Direcciones 2</label>
            <input type="text" class="form-control" id="addressLine2" [(ngModel)]="addressLine2" [ngModelOptions]="{standalone: true}"
              name="addressLine2" placeholder=" ">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="city">Ciudad</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" name="city" placeholder=" ">
          </div>
          <div class="col-sm-12 col-lg-6 form-group">
            <label for="photoURL">Foto</label>
            <input type="text" class="form-control" id="photoURL" [(ngModel)]="photoURL" [ngModelOptions]="{standalone: true}" name="photoURL"
              placeholder=" ">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary">Modificar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 class="text-center text-white">Reportes</h3>
<div class="container">
  <div class="row justify-content-around invertirColor card-deck">
    <div class="row">
      <div class="col-lg-3">
        <div class="row">
          <div class="col-12">
            <h5 class="text-center">
              <strong>Historial Cliente</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <p class="text-center">Este módulo del programa buscará todos los vehículos de un determinado cliente y generará un reporte con todos
            los servicio de cada vehículo, descargable en formato csv.</p>
        </div>
        <div class="row">
          <div class="col input-group input-group-sm mb-3">
            <input type="text" class="form-control" placeholder="Cedula cliente" #cedula>
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="historicoCliente(cedula.value)">Generar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-12">
            <h5 class="text-center">
              <strong>Historial Vehiculo</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <p class="text-center">Este módulo del programa buscará todos los vehículos de un determinado cliente y generará un reporte con todos
            los servicio de cada vehículo, descargable en formato csv.</p>
        </div>
        <div class="row">
          <div class="col input-group input-group-sm mb-3">
            <input type="text" class="form-control" placeholder="Placa vehiculo" #placa>
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="historicoVehiculo(placa.value)" type="button">Generar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-12">
            <h5 class="text-center">
              <strong>Historial Mecanico</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <p class="text-center">Este módulo del programa buscará todos los vehículos de un determinado cliente y generará un reporte con todos
            los servicio de cada vehículo, descargable en formato csv.</p>
        </div>
        <div class="row">
          <div class="col input-group input-group-sm mb-3">
            <input type="text" class="form-control" placeholder="Cedula mecánico" #cedulaMec>
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="historicoMecanico(cedulaMec.value)">Generar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-12">
            <h5 class="text-center">
              <strong>Historial Modelo</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <p class="text-center">Este módulo del programa buscará todos los vehículos de un determinado cliente y generará un reporte con todos
            los servicio de cada vehículo, descargable en formato csv.</p>
        </div>
        <div class="row">
          <div class="col input-group input-group-sm mb-3">
            <input type="text" class="form-control" placeholder="Modelo vehiculo" #modelo>
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="historicoModelo(modelo.value)">Generar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12 m-1 text-right">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date_inicio" name="rangoI" ngbDatepicker #dinicio="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dinicio.toggle()" type="button">
              X
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 m-1 text-right">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date_final" ngbDatepicker #dfinal="ngbDatepicker" name="rangoF">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dfinal.toggle()" type="button">
              X
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 m-1 text-right">
        <a class="btn btn-primary text-white" #descargar>Descargar</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ng-template #modalFin let-c="close" let-d="dismiss">
  <div class="modal-header text-center">
    <h4 class="modal-title">
      <strong>Admision y asignacion de mecánico</strong>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h5>
              <strong>Marca: </strong>{{cita.brand}}</h5>
            <h6>
              <strong>Modelo: </strong>{{cita.model}}</h6>
            <h6>
              <strong>Placa: </strong>{{cita.licensePlate}}</h6>
          </div>
          <div class="col-sm-12">
            <h6>
              <strong>Fecha: </strong>{{date.year}}-{{date.month}}-{{date.day}}</h6>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <select class="form-control" id="mecanicoSelect" required (change)="onChange($event.target.value)">
              <option *ngFor="let mecanico of mecanicos" [value]="mecanico.mechanicID">{{mecanico.nombre}}</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row text-right">
          <div class="col-sm-12">
            <button type="button" class="btn btn-dark" (click)="generarOrdenReparacion(modalFin)">Asignar</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Regresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalDet let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles de las Orden</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <h6>
          <strong>Mecánico Asignado:</strong> {{orden.mechanicName}}</h6>
        <h6>
          <strong>Vehículo:</strong> {{orden.carName}}</h6>
        <h6>
          <strong>Placa:</strong> {{orden.licensePlate}}</h6>
        <h6>
          <strong>Fecha de Recepción:</strong> {{orden.entryDate}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center">Respuestos Utilizados:</h4>
        <ul>
          <li *ngFor="let r of orden.replacements">{{r}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row text-right">
      <button type="button" class="btn btn-dark m-1" (click)="cerrarOrden(orden.repairOrdersID)">Cerrar órden</button>
      <button type="button" class="btn btn-outline-dark m-1" (click)="c('Close click')">Regresar</button>
    </div>
  </div>
</ng-template>