<section>
  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center text-white">¡Bienvenido {{user.firstName}}!</h2>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-10 fondoBlanco">
        <ngb-tabset type="pills" justify="justified">
          <ngb-tab title="Registrar Vehiculo">
            <ng-template ngbTabContent>
              <div class="row justify-content-around">
                <div class="col-sm-12">
                  <form #registerCar="ngForm" (submit)="registrarCarro()">
                    <div class="row pt-1">
                      <div class="col-sm-12 col-lg-6 form-group">
                        <label for="brand">Marca</label>
                        <input type="text" class="form-control" id="brand" [(ngModel)]="brand" name="brand" placeholder="Chevrolet">
                      </div>
                      <div class="col-sm-12 col-lg-6 form-group">
                        <label for="model">Modelo</label>
                        <input type="text" class="form-control" id="model" [(ngModel)]="model" name="model" placeholder="Cruze">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 form-group">
                        <label for="year">Año</label>
                        <input type="text" class="form-control" id="year" [(ngModel)]="year" name="year" placeholder="2014">
                      </div>
                      <div class="col-sm-12 col-lg-6 form-group">
                        <label for="licensePlate">Placa</label>
                        <input type="text" class="form-control" id="licensePlate" [(ngModel)]="licensePlate" name="licensePlate" placeholder="AA000AA">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 form-group">
                        <label for="serial">Serial de Motor</label>
                        <input type="text" class="form-control" id="serial" [(ngModel)]="serial" name="serial" placeholder="ABC123DEF456">
                      </div>
                      <div class="col-sm-12 col-lg-6 form-group">
                        <label for="fotoVehiculo">Foto del Vehiculo</label>

                        <div class="custom-file" id="fotoVehiculo">
                          
                          <input type="file" class="custom-file-input" id="photo" [(ngModel)]="photo" accept=".png, .jpg, .jpeg" name="photo" (change)="onChange($event)">
                          <label class="custom-file-label" for="photo">Mi Vehiculo</label>
                        </div>


                      </div>




                    </div>
                    <div class="row">
                      <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary text-center">Registrar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Vehiculos">
            <ng-template ngbTabContent>
              <div class="row pt-1">
                <div class="col-sm-12">
                  <div class="list-group">
                    <div *ngFor="let carro of vehiculos" class="list-group-item list-group-item-action flex-column align-items-start mb-1">
                      <div class="row">
                        <div class="col-lg-6 col-sm-12 text-left">
                          <h5>
                            <strong>{{carro.brand}} {{carro.model}} {{carro.year}}</strong>
                          </h5>
                        </div>
                        <div class="col-lg-6 col-sm-12 text-right">
                          <h5>Placa:
                            <strong>{{carro.licensePlate}}</strong>
                          </h5>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 text-left">
                          <small>Serial No:
                            <strong #serial>{{carro.serial}}</strong>
                          </small>
                        </div>
                        <div class="col-lg-6 col-sm-12 text-right">
                          <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-outline-dark" (click)="verVehiculo(serial.textContent, modalCarro)">Ver</button>
                            <button type="button" class="btn btn-outline-dark" (click)="pedirCita(serial.textContent)">Pedir cita</button>
                            <button type="button" class="btn btn-outline-dark" (click)="historicoVehiculo(carro.licensePlate)">Historial</button>
                            
                            <button type="button" class="btn btn-outline-primary" (click)="desactivar(serial.textContent)">Desactivar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Ver Citas Pedidas">
            <ng-template ngbTabContent>
              
                <table class="table  table-responsive-md ">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Placa del Vehículo</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cita of citas">
                      <td>{{cita.licensePlate}}</td>
                      <td>{{cita.brand}}</td>
                      <td>{{cita.model}}</td>
                      <td>{{cita.estado}}</td>
                    </tr>
                  </tbody>
                </table>
              
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<ng-template #modalCarro let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"><strong>Vehículo</strong></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="{{car.photoLink}}" alt="car-photo" class="img-thumbnail" height="200px" width="auto">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5>
          <strong>Marca</strong> {{car.brand}}</h5>
        <h6>
          <strong>Modelo:</strong> {{car.model}}</h6>
        <h6>
          <strong>Placa:</strong> {{car.licensePlate}}</h6>
        <h6>
          <strong>Serial:</strong> {{car.serial}}</h6>
        <h6>
          <strong>Año:</strong> {{car.year}}</h6>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<br>
<br>
<br>
<br>
<br>
<br>

<div *ngIf="divDescargas" id="down">
<div class="down1 text-white m-2 p-2 text-center">
      <h6>Su archivo se ha generado correctamente: </h6>
      <a class="btn btn-outline-light text-white" #descargar (click)="alternarDiv(false)">Descargar</a>
</div>
</div>
