#welcome {
  padding: 2rem; 
}
.fondoBlanco{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 1%;
}
.fondo-cliente { 
  background-image: url("https://images.pexels.com/photos/237195/pexels-photo-237195.jpeg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#botontab {
  border-bottom-color: red;
  color-interpolation-filters: red;
  background-color: red;
  border-block-end-color: red;
  border-block-start-color: red;
  border-color: red;
  caret-color: red;
  flood-color: red;
  -moz-border-bottom-colors: red;
  -moz-text-decoration-color: red;
}