<section id="dashboard">

  <section id="welcome">
    <div class="row">
      <div class="col-lg-8 col-sm-12" id="panel">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 mx-auto">
              <h2>Bienvenido {{user.firstName}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <ngb-tabset type="pills">
      <ngb-tab title="Vehiculos">
        <ng-template ngbTabContent>
          <div class="row mt-2">
            <div class="col-sm-12">
              <div class="list-group">
                <div *ngFor="let carro of vehiculos" class="list-group-item list-group-item-action flex-column align-items-start mb-1">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{carro.brand}} {{carro.model}}</h5>
                    <small>{{carro.licensePlate}}</small>
                  </div>
                  <div class="mb-1">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary" (click)="pedirCita(serial.textContent)">Pedir un cita</button>
                      <button type="button" class="btn btn-secondary" (click)="verHistorial(serial.textContent)">Ver Historial</button>
                      <button type="button" class="btn btn-secondary" (click)="desactivar(serial.textContent)">Desactivar</button>
                    </div>
                  </div>
                  <small #serial>{{carro.serial}}</small>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Registrar Vehiculo">
        <ng-template ngbTabContent>
          <div class="row justify-content-around mt-2">
            <div class="col-sm-12 col-lg-10">
              <form #registerCar="ngForm" (submit)="registrarCarro()">
                <div class="row">
                  <div class="col-sm-12 col-lg-6 form-group">
                    <label for="brand">Marca</label>
                    <input type="text" class="form-control" id="brand" [(ngModel)]="brand" name="brand" placeholder="Chevrolet">
                  </div>
                  <div class="col-sm-12 col-lg-6 form-group">
                    <label for="model">Modelo</label>
                    <input type="text" class="form-control" id="model" [(ngModel)]="model" name="model" placeholder="Cruze">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6 form-group">
                    <label for="year">Año</label>
                    <input type="text" class="form-control" id="year" [(ngModel)]="year" name="year" placeholder="2014">
                  </div>
                  <div class="col-sm-12 col-lg-6 form-group">
                    <label for="licensePlate">Placa</label>
                    <input type="text" class="form-control" id="licensePlate" [(ngModel)]="licensePlate" name="licensePlate" placeholder="AA000AA">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6 form-group">
                    <label for="serial">Serial de Motor</label>
                    <input type="text" class="form-control" id="serial" [(ngModel)]="serial" name="serial" placeholder="ABC123DEF456">
                  </div>
                  <div class="col-sm-12 col-lg-6 form-group custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Foto del Vehiculo</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary text-center">Registrar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Ver Citas Pedidas">
        <ng-template ngbTabContent>
          <div class="table-responsive mt-2">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Placa del Vehículo</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cita of citas">
                      <td>{{cita.licensePlate}}</td>
                      <td>{{cita.brand}}</td>
                      <td>{{cita.model}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>


</section>
