<section id="dashboard">
  <section id="dashboard">
    <div class="row">
      <div class="col-lg-8 col-sm-12" id="panel">
        <div class="container">
          <div class="row">
            <div class="col-s">
              <div class="col-sm-12">
                <h2>Bienvenido </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container" id="contenido">
    <div class="row justify-content-around">
      <div class="col-md-5 col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center"><b class="thicker">Lista de vehículos</b></h2>
          </div>
        </div>
        <app-vehiculo></app-vehiculo>
      </div>   
      <div class="col-md-5 col-sm-12">
        <div class="row justify-content-around">
          <div class="col-sm-12">
            <h2 class="text-center"><b class="thicker">Órdenes de Reparación</b></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-orden-reparacion></app-orden-reparacion>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div class="row ">
      <div class="col-sm-12">
        <h2 class="text-center">Registro de Vehículo nuevo</h2>
      </div>

    </div>
    <div class="container">
      <form #carRegisterForm="ngForm" (submit)="registrarCarro()" >
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="marca">Marca</label>
              <input class="form-control" id="marca" placeholder="Jeep" required [(ngModel)]="brand" name="brand">
            </div>
            <div class="form-group">
              <label for="modelo">Modelo</label>
              <input class="form-control" id="modelo" placeholder="Cherokee" required [(ngModel)]="model" name="model">
            </div>
            <div class="form-group">
              <label for="anio">Año</label>
              <input class="form-control" id="eanio" placeholder="2010" required [(ngModel)]="year" name="year">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="placa">Placa</label>
              <input class="form-control" id="placa" placeholder="AA000AA" required [(ngModel)]="licensePlate" name="licensePlate">
            </div>
            <div class="form-group">
              <label for="serial">Serial de motor</label>
              <input class="form-control" id="serial" placeholder="1G1YY25R695700001" required [(ngModel)]="serial" name="serial">
            </div>
            <div class="form-group">
              <label>Imágen del vehículo</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="imagenCarro" required>
                <label class="custom-file-label" for="imagenCarro">Seleccionar archivo...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-dark">Registrar</button>
      </form>
    </div>
    <hr class="my-4">
  </section>
</section>
