/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

app-root {
  flex: 1 0 auto;
  margin-top: 56px;
}
  
.custom-alert-danger {
  position: relative;
  top: 10px;
  height:55px;
  text-align: center;
  color: whitesmoke;
  background-color: brown;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.19);

}

.custom-alert-success {
  position: relative;
  top: 10px;
  height:55px;
  text-align: center;
  color: whitesmoke;
  background-color: #007AFF;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.19);
}

#top {


  position: fixed;
  top: 100;
  left: 0;
  z-index: 999;
  width: 100%;
}
