<section id="home">
  <div class="container">
    <div class="valign-wrapper">
      <div class="box-titulo">
        <h2>Cliente</h2>
        <p>Pedro Perez</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center">Vehículos Registrados</h2>
      </div>
    </div>
    <div class="row">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Año</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>ABC123</td>
            <td>Optra</td>
            <td>2008</td>
            <td>
              <a href="" class="waves-effect waves-light btn black white-text">Desactivar</a>
            </td>
          </tr>
          <tr>
            <td>ABC123</td>
            <td>Optra</td>
            <td>2008</td>
            <td>
              <a href="" class="waves-effect waves-light btn black white-text">Desactivar</a>
            </td>
          </tr>
          <tr>
            <td>ABC123</td>
            <td>Optra</td>
            <td>2008</td>
            <td>
              <a href="" class="waves-effect waves-light btn black white-text">Desactivar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center">Reportes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Historia Cliente</th>
              <th>Historia Vehiculo</th>
              <th>Historia Mecánico</th>
              <th>Historia por Modelo</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><a href="" class="waves-effect waves-light btn black white-text">Descargar</a></td>
              <td><a href="" class="waves-effect waves-light btn black white-text">Descargar</a></td>
              <td><a href="" class="waves-effect waves-light btn black white-text">Descargar</a></td>
              <td><a href="" class="waves-effect waves-light btn black white-text">Descargar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

