<section id="dashboard">
  <div class="row">
    <div class="col-lg-8 col-sm-12" id="panel">
      <div class="container">
        <div class="row">
          <div class="col-s">
            <div class="col-sm-12">
              <h2>Bienvenido</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><b class="text-dark thicker background">Clientes</b></ng-template>
          <ng-template ngbTabContent>
            <div class="row justify-content-around body">
                    <div class="col-md-11">
                        <div class="card">
                            <div class="card-header">
                              <b class="thicker"><h3>Pepito Pérez</h3></b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><b>Nombre: </b>Pepito Pérez</p>
                                    <p><b>Cédula: </b>26666666</p>
                                    <p><b>Sexo: </b>masculino</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><b>Teléfono: </b>0424 555.55.55</p>
                                    <p><b>Dirección: </b>Av. Lecuna, Caracas, Venezuela</p>
                                    <p><b>Correo: </b>elpepitodepepitos@pepe.ito</p>
                                  </div>
                                </div>
                                <hr class="my-4">
                                <div class="row">
                                  <div class="col-md-12">
                                    <p><b>Vehículos registrados: </b>3</p>
                                    <p><b>Vehículos en el taller: </b>1</p>
                                    <p><b>Vehículos: </b>Deberia desplegar la lista de vehículos</p>
                                  </div>
                                </div>
                            </div>
                          </div>
                      
                    </div>
            </div>
            
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b class="text-dark thicker">Vehículos</b></ng-template>
          <ng-template ngbTabContent>
            <p>Lista de vehículos</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b class="text-dark thicker">Órdenes de Reparación</b></ng-template>
          <ng-template ngbTabContent>
            <p>Lista de órdenes</p>
          </ng-template>
        </ngb-tab>    
      </ngb-tabset>
    </div>
  </div>

</section>

