<section>
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm-12">
        <h1 class="text-center text-white">¡Bienvenido a tu taller WorkChang!</h1>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <h3 class="text-center text-white">Contáctanos</h3>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-8 fondoBlanco">
        <div class="row">
          <div class="col-sm-12">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="johndoe@example.com">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mt-2">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="John Doe">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mt-2">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3"></textarea>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12 mt-2">
            <a href="" class="btn btn-dark">Enviar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<section class="bg-dark text-white p-4">
  <div class="container text-white">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center text-white">Acerca de nosotros</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-12">
            <h5 class="text-center">¿Quiénes somos?</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-center">Somos una empresa dedicada a prestar sevicios de calidad, buscando siempre el confort de nuestros clientes, dándoles
              la seguridad y confianza para dejar en nuestras manos un bien tan preciado como es su vehículo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="text-center">¿Qué nos caracteriza?</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center">Poseemos las más avanzadas tecnologías y personal altamente capacitado que te garantiza que tu vehículo está
              en buenas manos. Además, te acercamos al servicio de tu vehículo con nuestra plataforma de gestión de servicio
              con el que podrás visualizar el estado de reparación donde quiera que estés.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>