#welcome {
  padding-top: 2rem;
  height: 20rem;
  color: #000000;
  background-color: #eeeeee;
  display: flex;
}
#about {
  padding: 3rem;
}
h2 {
  margin-bottom: 1rem;
}
#contact {
  background-color: #dddddd;
  padding: 1.5rem;
}
.fondoBlanco{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 1%;
}

.fondoBlancoPuro{
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
}
