<section>
  <section>
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-12">
          <h1 class="text-center text-white">¡Bienvenido a tu taller WorkChang!</h1>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <h3 class="text-center text-white">Contáctanos</h3>
  <div class="container">


      <div class="row justify-content-around">
        <div class="col-lg-8 fondoBlanco">
  

          <div class="row">
            <div class="col-sm-12">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="johndoe@example.com">
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-12 mt-2">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="John Doe">
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 mt-2">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3"></textarea>
          </div>
        </div>
        
        <div class="row text-center">
          <div class="col-sm-12 mt-2">
          <a href="" class="btn btn-dark">Enviar</a>
        </div>
        </div>
  






  
      </div>






    </div>


    </div>
</section>
<br>
<br>
<br>
<br>
<br>