<nav class="black">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">
      WorkChang
    </a>
    <a href="#" data-target="side-menu" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down white-text">
      <li><a href="index.html">Home</a></li>
      <li><a href="pedir-cita.html">Pedir una Cita</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li> 
      </ul>
    <ul class="sidenav" id="side-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="pedir-cita.html">Pedir una Cita</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Opeciones Administrador</a></li>
        <li><a href="#">Opeciones Clientes</a></li>
        <li><a href="#">Opeciones Gerente</a></li>
    </ul>
  </div>
</nav>