<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">WorkChang</a>
  <div class="collapse navbar-collapse">
    <ul *ngIf="!auth.isLogged()" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/register">Registro</a>
      </li>
    </ul>
    <ul *ngIf="auth.isLogged()" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" href="" (click)="logOut()">Logout</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Client" *ngIf="isClient()">Dashboard</a>
        <a class="nav-link" routerLink="/Manager" *ngIf="isManager()">Dashboard</a>
        <a class="nav-link" routerLink="/mechanic" *ngIf="isMechanic()">Dashboard</a>
        <a class="nav-link" routerLink="/Admin" *ngIf="isAdmin()">Dashboard</a>
      </li>
    </ul>

  </div>
</nav>
