section#welcome {
    padding: 2rem;
  }
  .fondoBlanco{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 1%;
  }

 ngb-tab{
  background-color: rgb(255, 255, 255);
  }
  ngb-tabset{
    background-color: rgb(255, 255, 255);
  }


